body {
  font-family: 'Montserrat Regular', sans-serif;
  padding: 36px 156px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
* {
  box-sizing: border-box;
}
form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 32px;
}
input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  color: #808080;
  border: 1px solid #808080;
  outline: none;
}
input:hover {
  border: 1px solid #000;
}
input:focus,
input:active {
  border: 1px solid #4e75ff;
  color: #2e2f42;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
button:hover,
button:focus {
  background-color: #6c8cff;
}
.loader {
  text-align: center;
}
.gallery {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
.gallery-item {
  border: 1px solid #808080;
  flex-basis: calc(33.333% -24px);
}
.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: unset;
}
.info {
  display: flex;
  gap: 32px;
  color: #2e2f42;
  justify-content: space-around;
}
.info b {
  display: block;
  line-height: 1.33333;
  font-weight: 600;
  margin-bottom: 4px;
}
.simple-lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}
